<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Country</title>
<link th:href="@{/style/style.css}" rel="stylesheet" />
</head>
<body>
	<h1>Countries</h1>
			<br/>
				<a class="edit" th:href="@{/new}">Insert new Country</a>
			<table cellpadding="10">
				<thead>
					<tr>
						<th>Code</th>
						<th>Name</th>
						<th>Continent</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="country : ${countries}">
						<td th:text="${country.code}">Code</td>
						<td><a th:href="@{/details/{id}(id=${country.id})}" th:text="${country.name}"></a></td>
						<td th:text="${country.continent}">Continent</td>
						<td>
							<a class="edit" th:href="@{/edit/{id}(id=${country.id})}">Edit Population</a>
							<a class="delete" th:href="@{/delete/{id}(id=${country.id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
</body>
</html>